<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="wrapper">
        <a routerLink="/home">
            <span class="material-symbols-outlined" id="close">
                close
            </span>
        </a>
        <h2 class="titulo-sobre">Sobre nós</h2>
        <br>
        <span class="texto-sobre">
            Kiseya, uma startup pensada em torno do conceito smart grid,
            que irá consistir na criação de comunidades inteligentes que
            utilizarão sistemas de geração distribuída de energia, armazenamento
            e gerenciamento inteligente para fornecer energia de maneira
            eficiente e sustentável. Também combina elementos de energia
            renovável, câmbio de energia, armazenamento avançado e tecnologias de gerenciamento
            de energia em uma escala local.
         </span>
    </section>
</body>
</html>
