


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<div class="dashboard-container">
    <div class="sidebar">
      <h2>Menu</h2>
      <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/dispositivos-energia">Dispositivos</a></li>
        <li><a href="#">Comercio</a></li>
        <li><button class="btn" (click)="logout()">Logout</button></li>
      </ul>
    </div>
  
    <div class="content">
      <h2>Dashboard</h2>
    </div>
</div>
  